/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg_image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 102px;
}

.header {
  background-color: var(--bg_color);
  min-inline-size: 375px;
  width: 100vw;
  max-inline-size: 700px;
  margin: 100px 0 100px 0;
  padding: 120px 0 20px 0;
  border: solid 2px var(--assent_color);
}

@media (width > 375px) {

  .header {
    padding-top: 136px;
  }
}

.headline {
  text-align: center;
  font-family: var(--assent_font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  margin-bottom: 21px;
}

.head__text {
  text-align: center;
  font-family: var(--assent_font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.theme-menu {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  position: relative;
  font-family: var(--assent_font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -12px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  animation: unactive__menu 0.3s ease forwards;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--assent_color);
  transition: width 300ms;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  width: 100%;
  transition: width 300ms;
}


.theme-menu__button:focus {
  outline: none;
}


.card {
  background-color: var(--bg_color);
  border: solid 2px var(--assent_color);
  margin-bottom: 50px;
  padding-bottom: 25px;
  min-inline-size: 375px;
  width: 100vw;
  max-inline-size: 700px;
}

.title {
  padding: 5px 10px 2.5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--fw_title);
  line-height: 22px;
  border-bottom: 2px solid var(--assent_color);
}

@media (width > 375px) {

  .title {
    padding: 5px 10px 3.5px 10px;
  }
}

.mistake__of__maket {
  padding: 4px 10px 5px 10px;
}

.card__photo {
  position: relative;
  aspect-ratio: 1/1;
}


.decoreation__text {
  font-family: var(--assent_font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  right: calc(1.3vw + 3px);
  top: 25px;
  text-transform: uppercase;
  text-shadow:  
  1px 0 0 var(--bg_color), 
  0 1px 0 var(--bg_color), 
  -1px 0 0 var(--bg_color),
  0 -1px 0 var(--bg_color);
  background-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@media (width > 375px) {

  .decoreation__text {
    right: calc(1.3vw);
  }
}



@supports((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {

  .decoreation__text {
      -webkit-text-stroke: 1px var(--bg_color);
      text-stroke: 1px var(--bg_color);
      text-shadow: none;
  }
} 

.photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__text, .memories {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.card__text {
  padding: 25px 25px 28px 25px;
  border-top: 2px solid var(--assent_color);
}

.memories {
  padding: 0 25px 24px 25px;
}

.like__conteiner {
  display: flex;
  justify-content: right;
  padding-right: 25px;
  gap: 12px;
  align-items: center;
}

.card__icon-button {
  width: 34px;
  height: 34px;
  padding: 0;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--assent_color);
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.sparks {
  fill: transparent;
}

.contour {
  transition: fill 0.1s;
}

.core {
  fill: transparent;
  transition: opacity 0.3s  0.05s;
}

.main-body {
  fill: transparent;
  transition: opacity 0.3s;
}

.like-icon {
  overflow: visible;
}

.like-icon:hover {

  .core {
    fill: var(--assent_color);
    transition: fill 0.3s;
  }

  .main-body {
    fill: var(--assent_color);
    transition: fill 0.3s 0.05s;
  }
}

.like-icon:active {

  .core {
    fill: red;
    transition: fill 0.3s;
  }

  .main-body {
    fill: red;
    transition: fill 0.3s 0.05s;
  }
}

.like-icon.is-liked .core {
  fill: red;
}

.like-icon.is-liked .main-body {
  fill: red;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: flash__heart 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: flash 0.3s 0.3s ease-in;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: solid 2px var(--assent_color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s;
  padding-top: 4px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--assent_color);
  transition: box-shadow 0.3s;
}

.card__like-button::after {
  content: '';
  display: block;
  position: absolute;
  transform: translate(-100%);
  height: 105%;
  width: 100%;
  background-color: var(--assent_color);
  transition: transform 0.5s ease-in-out;
}

@media (any-hover: hover) {

  .card__like-button:hover::after {
    transform: translate(0);
    transition: transform 0.5s ease-in-out;
  }
}

.button__text {
  position: relative;
  font-family: var(--assent_font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  color: var(--cover_color);
  mix-blend-mode: difference;
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: center;
}

.save__button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_color);
  font-family: var(--assent_font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  border: solid 2px var(--assent_color);
  padding: 15px 20px;
  gap: 8px;
  overflow: hidden;
}

.save__button:focus {
  outline: none;
}

.save__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--assent_color);
  transition: box-shadow 0.3s;
}

.save__button::after {
  content: '';
  display: block;
  position: absolute;
  transform: translate(-100%) ;
  height: 100%;
  width: 100%;
  background-color: var(--assent_color);
  transition: transform 0.5s ease-in-out;
}

@media (any-hover: hover) {

  .save__button:hover::after {
    transform: translate(0%);
    transition: transform 0.5s ease-in-out;
  }
}

.save__text {
  color: var(--cover_color);
  mix-blend-mode: difference;
  z-index: 1;
}

.floppy {
  color: var(--cover_color);
  mix-blend-mode: difference;
  z-index: 1;
  width: 28px;
  height: 28px;
  margin-bottom: 2px;
}

@media (width > 375px) {

  .save__button {
    flex-direction: row;
  }

  .floppy {
    width: 21px;
    height: 21px;
    margin-bottom: 0px;
  }
}

.cover[open] {
  display: flex;
  flex-direction: column;
  background-color: var(--bg_color);
  padding: 30px 40px;
  color: var(--assent_color);
  max-inline-size: 353px;
  gap: 30px;
  border: solid 2px var(--assent_color);
  max-height: 191px;
  max-width: 341px;
}

@media (width > 375px) {

  .cover[open] {
    padding: 30px;
    max-height: 193px;
   max-width: 357px;
  }
}

.content {
  display: flex;
  gap: 20px;
}

.cover::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.floppy__div {
  margin: auto;
}

.floppy__cover {
  width: 39px;
  height: 39px;
}

.instruction {
  font-family: var(--assent_font);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.first__card {
  filter: saturate(390%);
}

.second__card {
  filter: grayscale(80%);
}

.third__card {
  filter: contrast(150%);
}

.four__card {
  filter: grayscale(50%) contrast(250%) sepia(0.3);
}

.five__card {
  filter: invert(100%);
}

.six__card {
  filter: brightness(150%);
}

.seven__card {
  filter: sepia(0.8) contrast(150%);
}

.eight__card {
  filter: saturate(390%) contrast(150%) sepia(0.6);
}