/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main_font: 'inter', serif;
    --assent_font: 'PressStart', sans-serif;
    --fw_title: 700;
    --bg_color: #fff;
    --assent_color: #000;
    --cover_color:#fff;
    --contour_heart: #000;
    --heart_body: red;
    --bg_image: 
    repeating-linear-gradient(
        to right,
        #d3d3d3 0px,
        #d3d3d3 2px,
        rgb(0, 0, 0, 0) 2px,
        rgb(0, 0, 0, 0) 4px),
    repeating-linear-gradient(
        to top,
        #d3d3d3 0px,
        #d3d3d3 2px,
        rgb(0, 0, 0, 0) 2px,
        rgb(0, 0, 0, 0) 4px),
    linear-gradient(
        to bottom,
        #e7e7e7,
        #1a1a1a);
}